body {
  font-family: "Wemakeprice-Bold";
  cursor: default;
}

@font-face {
  font-family: "Wemakeprice-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-purple: #cbbae7;
  --color-light-grey: #7c7979;
  --color-blue: #b2eef8;
  --color-yellow: #f7e279;
  --color-orange: #feb546;
  --color-red: rgb(231, 109, 100);
  --color-green: #88d6bc;
  --color-dark-green: teal;
}

.section {
  padding: 50px 0;
  text-align: center;
  margin: auto;
}
/* #navbar {
  position: absolute;
  left: 50%;
  margin-left: -170px;
} */
/* #navbar {
  width: 100%;
  height: 50px;
  /* margin-left: 100px; */
/* background-color: burlywood;
  z-index: 999;
  display: fiexd;
} */

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-white);
}

.navbar__menu {
  margin-right: 12px;
  color: var(--color-light-grey);
  padding: 12px 20px;
  font-size: 1.1rem;
}
.navbar__menu:hover {
  border-bottom: 2px solid var(--color-light-grey);
}
#hello {
  width: 100%;
  height: 700px;
}

.hello__photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 300px;
  opacity: 1;
  z-index: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}
/* margin-top: 150px;
  margin-left: 240px; */

.showing {
  /*js에서 클래스 이벤트 추가시 사용*/
  opacity: 1;
  z-index: 1;
  transform: none;
}
.hello__iamjs {
  position: absolute;
  top: 260px;
  left: 650px;
}

.hello__iamjs h1 {
  color: var(--color-light-grey);
  font-size: 4rem;
}
.hello__iamjs span {
  font-size: 6rem;
  color: var(--color-yellow);
}
#hello,
#life,
#like,
#hate,
#hobby {
  width: 100%;
}

#life {
  height: 600px;
  background-color: seashell;
}
#life > h1 {
  margin-top: 60px;
}
/* .life {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 30px;
} */
#life h1,
#like h1,
#hate h1,
#hobby h1,
.end h1 {
  color: var(--color-purple);
  font-size: 5rem;
}
/* #life > h2 {
  margin-top: 20px;
  font-size: 20px;
  color: var(--color-dark-white);
} */
.life {
  display: flex;
  justify-content: center;
}
.life p {
  color: var(--color-light-grey);
  font-size: 1.3rem;
}
.life svg {
  font-size: 70px;
  margin-top: 20px;
  color: var(--color-green);
}
.speech1,
.speech2,
.speech3 {
  width: 200px;
  height: 300px;
  background-color: var(--color-white);
  margin: 0 20px;
  border-radius: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
}
#like,
#hate {
  margin-top: 100px;
  height: 700px;
}
#life h2,
#like h2,
#hate h2,
#hobby h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: var(--color-dark-white);
}
.like__all,
.hate__all {
  margin-top: 30px;
}
.likes,
.hates {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.like img,
.hate img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}
.like p,
.hate p {
  color: var(--color-orange);
  font-size: 30px;
  padding: 40px;
}

.hobbys {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

#hobby {
  background-color: rgb(248, 234, 234);
  /* height: 700px; */
}

.hobby img {
  width: 300px;
  height: 400px;
}
.end {
  width: 100%;
  height: 200px;
}
.end h1 {
  margin-top: 100px;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .navbar__menu {
    margin-right: 0px;
  }
  .hello__photo {
    left: 100px;
    top: 150px;
  }
  .hello__iamjs {
    top: 500px;
    left: 38px;
  }

  .hello__iamjs span {
    font-size: 80px;
  }
  .life div p {
    font-size: 1rem;
  }
  .like img,
  .hate img {
    width: 170px;
    height: 170px;
  }
  .hate_all {
    margin-top: 100px;
  }
  #like,
  #hate {
    height: 1100px;
  }
  .likes,
  .hates {
    flex-direction: column;
  }
  .hobbys {
    flex-direction: column;
  }
  .hobby img {
    width: 200px;
    height: 250px;
  }
}
